.carousel-inner img {
    width: 100%;
    height: 500px; 
    object-fit: cover;
}
.carousel {
    padding: 20px;
}

.card-subs {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    .card-header{
        background-color: #0d0d3a22;
    }
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.card {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    margin: 10px;
}

@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(100% - 40px);
    }
}