--
-- PostgreSQL database dump
--

-- Dumped from database version 15.10 (Debian 15.10-1.pgdg120+1)
-- Dumped by pg_dump version 15.10 (Debian 15.10-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: web_project_administrador; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_administrador (
    id_administrador uuid NOT NULL,
    nombre character varying(100) NOT NULL,
    direccion character varying(100) NOT NULL,
    telefono character varying(20) NOT NULL,
    email character varying(254) NOT NULL
);


ALTER TABLE public.web_project_administrador OWNER TO postgres;

--
-- Name: web_project_cliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_cliente (
    id_cliente uuid NOT NULL,
    nombre character varying(100) NOT NULL,
    direccion character varying(100) NOT NULL,
    telefono character varying(20) NOT NULL,
    email character varying(254) NOT NULL
);


ALTER TABLE public.web_project_cliente OWNER TO postgres;

--
-- Name: web_project_comentariovaloracion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_comentariovaloracion (
    id_comentario uuid NOT NULL,
    comentario text NOT NULL,
    valoracion integer NOT NULL,
    fecha date NOT NULL,
    cliente_id uuid NOT NULL,
    producto_id uuid NOT NULL
);


ALTER TABLE public.web_project_comentariovaloracion OWNER TO postgres;

--
-- Name: web_project_compra; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_compra (
    id_compra uuid NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario double precision NOT NULL,
    valor_neto double precision NOT NULL,
    valor_iva double precision NOT NULL,
    detalle_compra_id uuid NOT NULL,
    producto_id uuid NOT NULL
);


ALTER TABLE public.web_project_compra OWNER TO postgres;

--
-- Name: web_project_detallecompra; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_detallecompra (
    id_detalle_compra uuid NOT NULL,
    fecha date NOT NULL,
    valor_total double precision NOT NULL,
    cliente_id uuid NOT NULL
);


ALTER TABLE public.web_project_detallecompra OWNER TO postgres;

--
-- Name: web_project_mediopago; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_mediopago (
    id_medio_pago uuid NOT NULL,
    nombre_medio_pago character varying(100) NOT NULL
);


ALTER TABLE public.web_project_mediopago OWNER TO postgres;

--
-- Name: web_project_producto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_producto (
    id_producto uuid NOT NULL,
    nombre_producto character varying(100) NOT NULL,
    desc_producto character varying(100) NOT NULL,
    precio_unitario double precision NOT NULL,
    stock integer NOT NULL,
    imagen character varying(100),
    tipo_producto_id uuid NOT NULL
);


ALTER TABLE public.web_project_producto OWNER TO postgres;

--
-- Name: web_project_reporteventa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_reporteventa (
    id_reporte uuid NOT NULL,
    tipo_reporte character varying(100) NOT NULL,
    fecha_reporte date NOT NULL,
    total_ventas integer NOT NULL,
    administrador_id uuid NOT NULL
);


ALTER TABLE public.web_project_reporteventa OWNER TO postgres;

--
-- Name: web_project_respaldo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_respaldo (
    id_respaldo uuid NOT NULL,
    fecha_respaldo date NOT NULL,
    ubicacion character varying(100) NOT NULL
);


ALTER TABLE public.web_project_respaldo OWNER TO postgres;

--
-- Name: web_project_tipoproducto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_project_tipoproducto (
    id_tipo_producto uuid NOT NULL,
    nombre_tipo_producto character varying(100) NOT NULL
);


ALTER TABLE public.web_project_tipoproducto OWNER TO postgres;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$mbuYjUEnube2fvpj4dkRcd$CLNA6F982aknvowyIVQXsBm6i88KsdIrw8gq2zuiYqI=	2024-12-04 00:32:40.885299+00	t	postgres			postgres@gmail.com	t	t	2024-12-04 00:28:41.641899+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	web_project	administrador
8	web_project	cliente
9	web_project	mediopago
10	web_project	producto
11	web_project	respaldo
12	web_project	tipoproducto
13	web_project	detallecompra
14	web_project	compra
15	web_project	comentariovaloracion
16	web_project	reporteventa
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
afq8my72jzirr04v63o3kj02hl71r3w5	.eJxVjEEOwiAQRe_C2pBOkQIu3fcMZGBmpGpoUtqV8e7apAvd_vfef6mI21ri1niJE6mLAnX63RLmB9cd0B3rbdZ5rusyJb0r-qBNjzPx83q4fwcFW_nWSNlhAOkze2QJA_TUgTFkEnofhswOLIp4a1w-A7GIhA6tESsIBOr9AQwbOPc:1tIdJo:AB2RvvnfqNCdgKXgcVYmyEafLSmgWvzPOmMYebPhR3I	2024-12-18 00:32:40.889856+00
\.


--
-- Data for Name: web_project_administrador; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_administrador (id_administrador, nombre, direccion, telefono, email) FROM stdin;
\.


--
-- Data for Name: web_project_cliente; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_cliente (id_cliente, nombre, direccion, telefono, email) FROM stdin;
\.


--
-- Data for Name: web_project_comentariovaloracion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_comentariovaloracion (id_comentario, comentario, valoracion, fecha, cliente_id, producto_id) FROM stdin;
\.


--
-- Data for Name: web_project_compra; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_compra (id_compra, cantidad, precio_unitario, valor_neto, valor_iva, detalle_compra_id, producto_id) FROM stdin;
\.


--
-- Data for Name: web_project_detallecompra; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_detallecompra (id_detalle_compra, fecha, valor_total, cliente_id) FROM stdin;
\.


--
-- Data for Name: web_project_mediopago; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_mediopago (id_medio_pago, nombre_medio_pago) FROM stdin;
\.


--
-- Data for Name: web_project_producto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_producto (id_producto, nombre_producto, desc_producto, precio_unitario, stock, imagen, tipo_producto_id) FROM stdin;
ef9590a2-9592-46d2-9e4f-95cefd7a503d	Lavadora	Lavadora 12 kg	320000	5	productos/avatar_NyzyJDF.jpg	b2cb0d58-31bd-4162-ba2f-74cdfdbe0fb6
750e86dd-af66-4cbe-b2ec-be59b393b2ec	Televisor	Televisor 43'	150000	3	productos/avatar_8Wo6x8s.jpg	beaaccfa-b710-477a-9b0c-8cdd55bf89dd
\.


--
-- Data for Name: web_project_reporteventa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_reporteventa (id_reporte, tipo_reporte, fecha_reporte, total_ventas, administrador_id) FROM stdin;
\.


--
-- Data for Name: web_project_respaldo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_respaldo (id_respaldo, fecha_respaldo, ubicacion) FROM stdin;
\.


--
-- Data for Name: web_project_tipoproducto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.web_project_tipoproducto (id_tipo_producto, nombre_tipo_producto) FROM stdin;
b2cb0d58-31bd-4162-ba2f-74cdfdbe0fb6	Linea Blanca
c0569dd5-c0f3-4b63-b42b-b59a91e0b5eb	Vestuario
beaaccfa-b710-477a-9b0c-8cdd55bf89dd	Tecnologia
61d76fca-562e-4bd7-9ab2-60e923c4b148	Libreria
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 6, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 19, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: web_project_administrador web_project_administrador_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_administrador
    ADD CONSTRAINT web_project_administrador_pkey PRIMARY KEY (id_administrador);


--
-- Name: web_project_cliente web_project_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_cliente
    ADD CONSTRAINT web_project_cliente_pkey PRIMARY KEY (id_cliente);


--
-- Name: web_project_comentariovaloracion web_project_comentariovaloracion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_comentariovaloracion
    ADD CONSTRAINT web_project_comentariovaloracion_pkey PRIMARY KEY (id_comentario);


--
-- Name: web_project_compra web_project_compra_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_compra
    ADD CONSTRAINT web_project_compra_pkey PRIMARY KEY (id_compra);


--
-- Name: web_project_detallecompra web_project_detallecompra_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_detallecompra
    ADD CONSTRAINT web_project_detallecompra_pkey PRIMARY KEY (id_detalle_compra);


--
-- Name: web_project_mediopago web_project_mediopago_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_mediopago
    ADD CONSTRAINT web_project_mediopago_pkey PRIMARY KEY (id_medio_pago);


--
-- Name: web_project_producto web_project_producto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_producto
    ADD CONSTRAINT web_project_producto_pkey PRIMARY KEY (id_producto);


--
-- Name: web_project_reporteventa web_project_reporteventa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_reporteventa
    ADD CONSTRAINT web_project_reporteventa_pkey PRIMARY KEY (id_reporte);


--
-- Name: web_project_respaldo web_project_respaldo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_respaldo
    ADD CONSTRAINT web_project_respaldo_pkey PRIMARY KEY (id_respaldo);


--
-- Name: web_project_tipoproducto web_project_tipoproducto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_tipoproducto
    ADD CONSTRAINT web_project_tipoproducto_pkey PRIMARY KEY (id_tipo_producto);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: web_project_comentariovaloracion_cliente_id_177ee99a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX web_project_comentariovaloracion_cliente_id_177ee99a ON public.web_project_comentariovaloracion USING btree (cliente_id);


--
-- Name: web_project_comentariovaloracion_producto_id_fe4b1c8c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX web_project_comentariovaloracion_producto_id_fe4b1c8c ON public.web_project_comentariovaloracion USING btree (producto_id);


--
-- Name: web_project_compra_detalle_compra_id_9511c365; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX web_project_compra_detalle_compra_id_9511c365 ON public.web_project_compra USING btree (detalle_compra_id);


--
-- Name: web_project_compra_producto_id_8ed02e2e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX web_project_compra_producto_id_8ed02e2e ON public.web_project_compra USING btree (producto_id);


--
-- Name: web_project_detallecompra_cliente_id_1ab2966d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX web_project_detallecompra_cliente_id_1ab2966d ON public.web_project_detallecompra USING btree (cliente_id);


--
-- Name: web_project_producto_tipo_producto_id_e3900817; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX web_project_producto_tipo_producto_id_e3900817 ON public.web_project_producto USING btree (tipo_producto_id);


--
-- Name: web_project_reporteventa_administrador_id_51ea5f60; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX web_project_reporteventa_administrador_id_51ea5f60 ON public.web_project_reporteventa USING btree (administrador_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: web_project_comentariovaloracion web_project_comentar_cliente_id_177ee99a_fk_web_proje; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_comentariovaloracion
    ADD CONSTRAINT web_project_comentar_cliente_id_177ee99a_fk_web_proje FOREIGN KEY (cliente_id) REFERENCES public.web_project_cliente(id_cliente) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: web_project_comentariovaloracion web_project_comentar_producto_id_fe4b1c8c_fk_web_proje; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_comentariovaloracion
    ADD CONSTRAINT web_project_comentar_producto_id_fe4b1c8c_fk_web_proje FOREIGN KEY (producto_id) REFERENCES public.web_project_producto(id_producto) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: web_project_compra web_project_compra_detalle_compra_id_9511c365_fk_web_proje; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_compra
    ADD CONSTRAINT web_project_compra_detalle_compra_id_9511c365_fk_web_proje FOREIGN KEY (detalle_compra_id) REFERENCES public.web_project_detallecompra(id_detalle_compra) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: web_project_compra web_project_compra_producto_id_8ed02e2e_fk_web_proje; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_compra
    ADD CONSTRAINT web_project_compra_producto_id_8ed02e2e_fk_web_proje FOREIGN KEY (producto_id) REFERENCES public.web_project_producto(id_producto) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: web_project_detallecompra web_project_detallec_cliente_id_1ab2966d_fk_web_proje; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_detallecompra
    ADD CONSTRAINT web_project_detallec_cliente_id_1ab2966d_fk_web_proje FOREIGN KEY (cliente_id) REFERENCES public.web_project_cliente(id_cliente) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: web_project_producto web_project_producto_tipo_producto_id_e3900817_fk_web_proje; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_producto
    ADD CONSTRAINT web_project_producto_tipo_producto_id_e3900817_fk_web_proje FOREIGN KEY (tipo_producto_id) REFERENCES public.web_project_tipoproducto(id_tipo_producto) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: web_project_reporteventa web_project_reportev_administrador_id_51ea5f60_fk_web_proje; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_project_reporteventa
    ADD CONSTRAINT web_project_reportev_administrador_id_51ea5f60_fk_web_proje FOREIGN KEY (administrador_id) REFERENCES public.web_project_administrador(id_administrador) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

